{# @var app \Symfony\Bridge\Twig\AppVariable #}
{% extends 'Mst/_mst01.html.twig' %}

{% set baseTemplateName = '顧客マスタ' %}

{% block mainContents %}
    <div class="p_breadcrumb">
        <ol class="breadcrumb_listWrap">
            <li class="breadcrumb_list" itemscope="" itemtype="http://data-vocabulary.org/breadcrumb">
                <a href="{{ path('app_top') }}" itemprop="url">
                    <span itemprop="title">トップ</span>
                </a>
            </li>
            <li class="breadcrumb_list is-breadcrumb_list-active">
                {% if isAllOrg %}
                    <a href="{{ path('app_mst_cstmr_all_list') }}" itemprop="url">
                        <span itemprop="title">顧客一覧(全組織)</span>
                    </a>
                {% else %}
                    <a href="{{ path('app_mst_cstmr_self_list') }}" itemprop="url">
                        <span itemprop="title">顧客一覧(自組織)</span>
                    </a>
                {% endif %}
            </li>
            <li class="breadcrumb_list is-breadcrumb_list-active">
                顧客詳細
            </li>
        </ol>
    </div>
    <section class="mst01_listMainWrap" id="js-mainArea" v-cloak>
        <div class="mainWrap_titleArea">
            <h1 class="mainWrap_titleAreaTitle">顧客詳細</h1>
        </div>

        <form novalidate ref="form" class="form-inline" action="" method="post"
              data-customer-id="{{ cm.id ? cm.id : 0 }}" data-version="{{ version }}" data-is-all-org="{{ isAllOrg }}">
            <div class="l-messageArea">
                {{ include('Mst/_messageArea.html.twig', {form: form}, with_context = false) }}
            </div>
            <div class="mainWrap_cstmrMstInfoArea-one">
                <div class="mainWrap_cstmrMstInfoAreaInner">
                    <div class="cstmrMst_inputArea h-adr">
                        <span class="p-country-name" style="display:none;">Japan</span>
                        <div class="cstmrMst_inputArea_left">
                            <div class="inputArea_name">
                                <div class="inputArea_label mainWrap_inputRequired">
                                    <label>氏名</label>
                                </div>
                                <div class="inputArea_seg">
                                    {{ form_widget(form.nameLast) }} {{ form_widget(form.nameFirst) }}
                                </div>
                            </div>

                            <div class="inputArea_nameKana">
                                <div class="inputArea_label mainWrap_inputRequired">
                                    <label>ふりがな</label>
                                </div>
                                <div class="inputArea_seg">
                                    {{ form_widget(form.nameLastKana) }} {{ form_widget(form.nameFirstKana) }}
                                </div>
                            </div>

                            <div class="inputArea_corporateName">
                                <div class="inputArea_label">
                                    <label>法人名</label>
                                </div>
                                <div class="inputArea_seg">
                                    {{ form_widget(form.corporateName) }}
                                </div>
                            </div>
                            <div class="inputArea_departmentName">
                                <div class="inputArea_label">
                                    <label>部署名</label>
                                </div>
                                <div class="inputArea_seg">
                                    {{ form_widget(form.departmentName) }}
                                </div>
                            </div>
                            <div class="inputArea_zipCode">
                                <div class="inputArea_label">
                                    <label>郵便番号</label>
                                </div>
                                <div class="inputArea_seg_zipCode">
                                    {{ form_widget(form.zipCode, {attr: {'class':'p-postal-code',  size: 30}}) }}
                                </div>
                            </div>
                            <div class="inputArea_prefecture">
                                <div class="inputArea_label">
                                    <label>都道府県</label>
                                </div>
                                <div class="inputArea_seg_prefecture">
                                    {{ form_widget(form.prefecture, {attr: {'class':'p-region',  size: 30}}) }}
                                </div>
                            </div>
                            <div class="inputArea_city">
                                <div class="inputArea_label label_city">
                                    <label>市区町村</label>
                                </div>
                                <div class="inputArea_seg_city">
                                    {{ form_widget(form.city, {attr: {'class':'p-locality',  size: 30}}) }}
                                </div>
                            </div>
                            <div class="inputArea_address1">
                                <div class="inputArea_label">
                                    <label>番地</label>
                                </div>
                                <div class="inputArea_seg">
                                    {{ form_widget(form.address1, {attr: {'class':'p-street-address',  size: 30}}) }}
                                </div>
                            </div>
                            <div class="inputArea_address2">
                                <div class="inputArea_label">
                                    <label>建物名など</label>
                                </div>
                                <div class="inputArea_seg">
                                    {{ form_widget(form.address2, {attr: {'class':'p-extended-address',  size: 30}}) }}
                                </div>
                            </div>
                            <div class="inputArea_tel">
                                <div class="inputArea_label">
                                    <label>電話番号</label>
                                </div>
                                <div class="inputArea_seg">
                                    {{ form_widget(form.tel) }}
                                </div>
                            </div>
                            <div class="inputArea_mobilePhone">
                                <div class="inputArea_label">
                                    <label>携帯番号</label>
                                </div>
                                <div class="inputArea_seg">
                                    {{ form_widget(form.mobilePhone) }}
                                </div>
                            </div>
                            <div class="inputArea_fax">
                                <div class="inputArea_label">
                                    <label>FAX</label>
                                </div>
                                <div class="inputArea_seg">
                                    {{ form_widget(form.fax) }}
                                </div>
                            </div>
                            <div class="inputArea_contactEmail">
                                <div class="inputArea_label">
                                    <label>メールアドレス</label>
                                </div>
                                <div class="inputArea_seg">
                                    {{ form_widget(form.contactEmail) }}
                                </div>
                            </div>
                            <div class="inputArea_contactEmail2">
                                <div class="inputArea_label">
                                    <label>メールアドレス2</label>
                                </div>
                                <div class="inputArea_seg">
                                    {{ form_widget(form.contactEmail2) }}
                                </div>
                            </div>
                            <div class="inputArea_contactEmail3">
                                <div class="inputArea_label">
                                    <label>メールアドレス3</label>
                                </div>
                                <div class="inputArea_seg">
                                    {{ form_widget(form.contactEmail3) }}
                                </div>
                            </div>
                        </div>
                        <div class="cstmrMst_inputArea_right">
                            <div class="inputArea_grupWrapper">
                                <div class="inputArea_birthDay">
                                    <div class="inputArea_label">
                                        <label>生年月日</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        {{ form_widget(form.birthDay) }}
                                    </div>
                                </div>
                                <div class="inputArea_sex">
                                    <div class="inputArea_label">
                                        <label>性別</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        {{ form_widget(form.sex) }}
                                    </div>
                                </div>
                                <div class="inputArea_isRegistered">
                                    <div class="inputArea_label">
                                        <label>本登録</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        {{ form_widget(form.isRegistered) }}
                                    </div>
                                </div>
                                <div class="inputArea_isValid">
                                    <div class="inputArea_label">
                                        <label>未退会</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        {{ form_widget(form.isValid) }}
                                    </div>
                                </div>
                            </div>
                            <div class="inputArea_grupWrapper">
                                <div class="inputArea_memberCode">
                                    <div class="inputArea_label inputRequired">
                                        <label>WEB会員ID</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        {{ form_widget(form.memberCode) }}
                                    </div>
                                </div>
                                <div class="inputArea_communicationMethod">
                                    <div class="inputArea_label">
                                        <label>連絡方法</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        {{ form_widget(form.communicationMethod) }}
                                    </div>
                                </div>
                                <div class="inputArea_isSentMailMagazine">
                                    <div class="inputArea_label">
                                        <label>メルマガ送付</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        {{ form_widget(form.isSentMailMagazine) }}
                                    </div>
                                </div>
                            </div>
                            <div class="inputArea_grupWrapper">
                                <div class="inputArea_deadLine">
                                    <div class="inputArea_label">
                                        <label>締日</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        {{ form_widget(form.deadLine) }}
                                    </div>
                                </div>
                                <div class="inputArea_deadLine">
                                    <div class="inputArea_label">
                                        <label>支払日</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        {{ form_widget(form.paidDate) }}
                                    </div>
                                </div>
                            </div>
                            <div class="inputArea_grupWrapper">
                                <div class="inputArea_point">
                                    <div class="inputArea_label">
                                        <label>ポイント</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        {{ form_widget(form.point) }}
                                    </div>
                                </div>
                                <div class="inputArea_premiumPoint">
                                    <div class="inputArea_label">
                                        <label>プレミアムポイント</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        {{ form_widget(form.premiumPoint) }}
                                    </div>
                                </div>
                            </div>
                            {% if cm.id %}
                            <div class="inputArea_grupWrapper">
                                <div class="inputArea_deposit">
                                    <div class="inputArea_label">
                                        <label>預り金</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        <input type="text" value="{{ deposit }}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="inputArea_grupWrapper">
                                <div class="inputArea_lastLogin">
                                    <div class="inputArea_label">
                                        <label>最終ログイン</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        {{ form_widget(form.lastLogin, {'attr':{'disabled': 'disabled'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="inputArea_grupWrapper">
                                <div class="inputArea_lastLogin">
                                    <div class="inputArea_label">
                                        <label>顧客登録者</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        <input type="text" value="{{ registerer.nameLast }}{{ registerer.nameFirst }}" disabled>
                                    </div>
                                </div>
                                <div class="inputArea_lastLogin">
                                    <div class="inputArea_label">
                                        <label>登録組織</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        <input type="text" value="{{ cm.createdDepartment.organization.name }}" disabled>
                                    </div>
                                </div>
                                <div class="inputArea_lastLogin">
                                    <div class="inputArea_label">
                                        <label>登録部署</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        <input type="text" value="{{ cm.createdDepartment.name }}" disabled>
                                    </div>
                                </div>
                                <div class="inputArea_lastLogin">
                                    <div class="inputArea_label">
                                        <label>顧客登録日</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        <input type="date" value="{{ cm.createdAt|date('Y-m-d') }}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="inputArea_grupWrapper">
                                <div class="inputArea_lastLogin">
                                    <div class="inputArea_label">
                                        <label>初回見積担当</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        <input type="text" value="{% if cm.firstHandledBy %}{{ cm.firstHandledBy.nameLast }}{{ cm.firstHandledBy.nameFirst }}{% endif %}" disabled>
                                    </div>
                                </div>
                                <div class="inputArea_lastLogin">
                                    <div class="inputArea_label">
                                        <label>初回見積組織</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        <input type="text" value="{% if cm.firstHandledDepartment %}{{ cm.firstHandledDepartment.organization.name }}{% endif %}" disabled>
                                    </div>
                                </div>
                                <div class="inputArea_lastLogin">
                                    <div class="inputArea_label">
                                        <label>初回見積部署</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        <input type="text" value="{% if cm.firstHandledDepartment %}{{ cm.firstHandledDepartment.name }}{% endif %}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="inputArea_grupWrapper">
                                <div class="inputArea_lastLogin">
                                    <div class="inputArea_label">
                                        <label>直近見積担当</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        <input type="text" value="{% if cm.lastHandledBy %}{{ cm.lastHandledBy.nameLast }}{{ cm.lastHandledBy.nameFirst }}{% endif %}" disabled>
                                    </div>
                                </div>
                                <div class="inputArea_lastLogin">
                                    <div class="inputArea_label">
                                        <label>直近見積組織</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        <input type="text" value="{% if cm.lastHandledDepartment %}{{ cm.lastHandledDepartment.organization.name }}{% endif %}" disabled>
                                    </div>
                                </div>
                                <div class="inputArea_lastLogin">
                                    <div class="inputArea_label">
                                        <label>直近見積部署</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        <input type="text" value="{% if cm.lastHandledDepartment %}{{ cm.lastHandledDepartment.name }}{% endif %}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="inputArea_grupWrapper">
                                <div class="inputArea_lastLogin">
                                    <div class="inputArea_label">
                                        <label>最終見積日時</label>
                                    </div>
                                    <div class="inputArea_seg inputArea_disabled">
                                        <input type="text" value="{% if estimations[0] is defined and estimations[0] %}{{ estimations[0].updatedAt|date('Y-m-d H:i:s') }} {% endif %}" disabled>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="cstmrMst_inputArea_remark">
                            <div class="inputArea_label">
                                <label>備考</label>
                            </div>
                            <div class="inputArea_seg">
                                {{ form_widget(form.remark) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mainWrap_deliveryInfoAreaInner mainWrap_titleArea">
                    <label for="deliveryInfo_open" class="open_label" @click="addClassToRotate"></label>
                    <input type="checkbox" id="deliveryInfo_open" class="open_label_input">
                    <h2 class="mainWrap_title">配送先情報</h2>
                    {% if cm.id %}
                    <span class="item_number">{{ cm.deliveryAddressMsts|length }} 件</span>
                    {% endif %}
                    <div class="inputArea_deliveryInfoWrapper">
                        <template v-for="(d, idx) in deliveryAdds">
                        <div class="inputArea_grupWrapper">
                            <div class="inputArea_addressInfo">
                                <div class="inputArea_label">
                                    <label>氏名</label>
                                </div>
                                <div class="inputArea_seg">
                                    <input type="text" v-model="d.nameLast">
                                    <input type="text" v-model="d.nameFirst">
                                </div>
                            </div>
                            <div class="inputArea_addressInfo">
                                <div class="inputArea_label">
                                    <label>会社名</label>
                                </div>
                                <div class="inputArea_seg">
                                    <input type="text" v-model="d.corporateName">
                                </div>
                            </div>
                            <div class="inputArea_addressInfo">
                                <div class="inputArea_label">
                                    <label>部課名</label>
                                </div>
                                <div class="inputArea_seg">
                                    <input type="text" v-model="d.departmentName">
                                </div>
                            </div>
                            <div class="inputArea_addressInfo">
                                <div class="inputArea_label">
                                    <label>電話番号</label>
                                </div>
                                <div class="inputArea_seg">
                                    <input type="text" v-model="d.tel">
                                </div>
                            </div>
                            <div class="inputArea_addressInfo">
                                <div class="inputArea_label">
                                    <label>郵便番号</label>
                                </div>
                                <div class="inputArea_seg">
                                    <input type="text" v-model="d.zipCode" @blur="completeDeliveryAddress($event, idx)">
                                </div>
                            </div>
                            <div class="inputArea_addressInfo">
                                <div class="inputArea_label">
                                    <label>都道府県</label>
                                </div>
                                <div class="inputArea_seg">
                                    <input type="text" v-model="d.prefecture">
                                </div>
                            </div>
                            <div class="inputArea_addressInfo">
                                <div class="inputArea_label">
                                    <label>市区町村</label>
                                </div>
                                <div class="inputArea_seg">
                                    <input type="text" v-model="d.city">
                                </div>
                            </div>
                            <div class="inputArea_addressInfo">
                                <div class="inputArea_label">
                                    <label>番地</label>
                                </div>
                                <div class="inputArea_seg">
                                    <input type="text" v-model="d.address1">
                                </div>
                            </div>
                            <div class="inputArea_addressInfo">
                                <div class="inputArea_label">
                                    <label>建物名など</label>
                                </div>
                                <div class="inputArea_seg">
                                    <input type="text" v-model="d.address2">
                                </div>
                            </div>
                            <div class="inputArea_addressInfo">
                                <div class="inputArea_label inputRequired">
                                    <label>表示順</label>
                                </div>
                                <div class="inputArea_seg">
                                    <input type="number" v-model="d.sort">
                                </div>
                            </div>
                            <div class="inputArea_addressInfo">
                                <div class="inputArea_label">
                                    <label>有効?</label>
                                </div>
                                <div class="inputArea_seg">
                                    <input type="checkbox" v-model="d.isValid">
                                </div>
                            </div>
                            <div class="remove_btn_area">
                                <button type="button" class="delivery_address_removeBtn" tabindex="-1" @click="removeDeliveryAddress(idx)">×</button>
                            </div>
                        </div>
                        </template>
                        <div class="add_btn_area">
                            <button type="button" class="delivery_address_addBtn" @click="addDeliveryAddress">追加</button>
                        </div>
                    </div>
                </div>
                <div class="mainWrap_senderInfoAreaInner mainWrap_titleArea">
                    <label for="senderInfo_open" class="open_label" @click="addClassToRotate"></label>
                    <input type="checkbox" id="senderInfo_open" class="open_label_input_sender">
                    <h2 class="mainWrap_title">送り主情報</h2>
                    {% if cm.id %}
                    <span class="item_number">{{ cm.senderAddressMsts|length }} 件</span>
                    {% endif %}
                    <div class="inputArea_senderInfoWrapper">
                        <template v-for="(s, idx) in senderAdds">
                            <div class="inputArea_grupWrapper">
                                <div class="inputArea_addressInfo">
                                    <div class="inputArea_label">
                                        <label>氏名</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        <input type="text" v-model="s.nameLast">
                                        <input type="text" v-model="s.nameFirst">
                                    </div>
                                </div>
                                <div class="inputArea_addressInfo">
                                    <div class="inputArea_label">
                                        <label>会社名</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        <input type="text" v-model="s.corporateName">
                                    </div>
                                </div>
                                <div class="inputArea_addressInfo">
                                    <div class="inputArea_label">
                                        <label>部課名</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        <input type="text" v-model="s.departmentName">
                                    </div>
                                </div>
                                <div class="inputArea_addressInfo">
                                    <div class="inputArea_label">
                                        <label>電話番号</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        <input type="text" v-model="s.tel">
                                    </div>
                                </div>
                                <div class="inputArea_addressInfo">
                                    <div class="inputArea_label">
                                        <label>郵便番号</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        <input type="text" v-model="s.zipCode" @blur="completeSenderAddress($event, idx)">
                                    </div>
                                </div>
                                <div class="inputArea_addressInfo">
                                    <div class="inputArea_label">
                                        <label>都道府県</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        <input type="text" v-model="s.prefecture">
                                    </div>
                                </div>
                                <div class="inputArea_addressInfo">
                                    <div class="inputArea_label">
                                        <label>市区町村</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        <input type="text" v-model="s.city">
                                    </div>
                                </div>
                                <div class="inputArea_addressInfo">
                                    <div class="inputArea_label">
                                        <label>番地</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        <input type="text" v-model="s.address1">
                                    </div>
                                </div>
                                <div class="inputArea_addressInfo">
                                    <div class="inputArea_label">
                                        <label>建物名など</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        <input type="text" v-model="s.address2">
                                    </div>
                                </div>
                                <div class="inputArea_addressInfo">
                                    <div class="inputArea_label inputRequired">
                                        <label>表示順</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        <input type="number" v-model="s.sort">
                                    </div>
                                </div>
                                <div class="inputArea_addressInfo">
                                    <div class="inputArea_label">
                                        <label>有効?</label>
                                    </div>
                                    <div class="inputArea_seg">
                                        <input type="checkbox" v-model="s.isValid">
                                    </div>
                                </div>
                                <div class="remove_btn_area">
                                    <button type="button" class="delivery_address_removeBtn" tabindex="-1" @click="removeSenderAddress(idx)">×</button>
                                </div>
                            </div>
                        </template>
                        <div class="add_btn_area">
                            <button type="button" class="delivery_address_addBtn" @click="addSenderAddress">追加</button>
                        </div>
                    </div>
                </div>
                {% if cm.id %}
                <div class="mainWrap_estimationInfoAreaInner mainWrap_titleArea">
                    <label for="estimationInfo_open" class="open_label" @click="addClassToRotate"></label>
                    <input type="checkbox" id="estimationInfo_open" class="open_label_input_estimation">
                    <h2 class="mainWrap_title">見積</h2>
                    <span class="item_number">{{ estimations|length }} 件</span>
                    <div class="estimation_detail_table">
                        <table class="p_table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>担当部署</th>
                                <th>担当営業</th>
                                <th>制作担当</th>
                                <th>ステータス</th>
                                <th>注文区分</th>
                                <th>商品/カテゴリ</th>
                                <th>加工方法</th>
                                <th>加工場</th>
                                <th>柄名</th>
                                <th>金額</th>
                                <th>入金完了日</th>
                                <th>納品期限</th>
                                <th>納品指定日</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for e in estimations %}
                                <tr>
                                    <td aria-label="ID" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {% if app.user.isGrantedRead(2010) %}
                                                <a href="{{ path('app_estmt_all_edit', {'id': e.id, 'hash': e.hash}) }}" class="mainWrap_linkIcon" tabindex="-1"></a>
                                            {% endif %}
                                            {{ e.id }}
                                        </div>
                                    </td>
                                    <td aria-label="担当部署" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {% if e.handledDepartment %}
                                                {{ e.handledDepartment.name }}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td aria-label="担当営業" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {% if e.handledBy %}
                                                {{ e.handledBy.nameLast }} {{ e.handledBy.nameFirst }}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td aria-label="制作担当" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {% for fo in e.factoryOrders %}
                                                {% if fo.producedBy %}
                                                    {{ fo.producedBy.nameLast }} {{ fo.producedBy.nameFirst }}<br/>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td aria-label="ステータス" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {{ e.estimationStatus.name }}
                                        </div>
                                    </td>
                                    <td aria-label="注文区分" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {% if e.estimationOrderType %}
                                            {{ e.estimationOrderType.name }}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td aria-label="商品" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {% for p in e.productEstimations %}
                                                {{ p.name }}
                                                {% if p.product.productTagRelations|length > 0 %}
                                                /{% for rel in p.product.productTagRelations %}
                                            {{ rel.productTag.name }}{% if loop.index != p.product.productTagRelations|length %}・{% endif %}
                                                {% endfor %}
                                                {% endif %}<br/>
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td aria-label="加工方法" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {% for w in e.workEstimations %}
                                                {{ w.name }}<br/>
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td aria-label="加工場" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {% if app.user.department.organization.id == e.organization.id %}
                                            {% for fo in e.factoryOrders %}
                                                {% if fo.orderedSite %}
                                                    {{ fo.orderedSite.name }}<br/>
                                                {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td aria-label="柄名" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {% for we in e.workEstimations %}
                                                {% for rel in we.designPatternWorkEstimationRelations %}
                                            {{ rel.designPattern.name }}<br/>
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td aria-label="金額" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {{ e.totalPrice }}
                                        </div>
                                    </td>
                                    <td aria-label="入金完了日" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {#todo　入金完了になっている直近の消込日#}
                                        </div>
                                    </td>
                                    <td aria-label="納品期限" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {% if e.deliveryLimitDate %}
                                            {{ e.deliveryLimitDate|date('Y-m-d') }}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td aria-label="納品指定日" class="table_td-receiptNumber">
                                        <div class="table_tdInner">
                                            {% if e.deliveryAppointedDate %}
                                            {{ e.deliveryAppointedDate|date('Y-m-d') }}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mainWrap_designInfoAreaInner mainWrap_titleArea">
                    <label for="designInfo_open" class="open_label" @click="addClassToRotate"></label>
                    <input type="checkbox" id="designInfo_open" class="open_label_input_design">
                    <h2 class="mainWrap_title">デザインデータ</h2>
                    <span class="item_number">{{ designs|length }} 件</span>
                    <div class="design_detail_table">
                        <table class="p_table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>データ</th>
                                <th>前回受注日</th>
                                <th>初回<br/>仕上がり日</th>
                                <th>前回<br/>仕上がり日</th>
                                <th>前回加工方法</th>
                                <th>前回加工位置</th>
                                <th>プリントサイズ<br/>(実寸)</th>
                                <th>前回見積番号</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in designs %}
                                <tr>
                                    <td aria-label="ID" class="table_td-id">
                                        <div class="table_tdInner">
                                            {% if app.user.isGrantedRead(2026) %}
                                                <a href="{{ path('app_design_edit', {'id': d.id}) }}" class="mainWrap_linkIcon" tabindex="-1"></a>
                                            {% endif %}
                                            {{ d.id }}
                                        </div>
                                    </td>
                                    <td aria-label="名称" class="table_td-name">
                                        <div class="table_tdInner">
                                            {{ d.name }}
                                        </div>
                                    </td>
                                    <td aria-label="データ" class="table_td-dataImage">
                                        <div class="table_tdInner">
                                            {% for di in d.designDataImages %}
                                                <img src="{{ vich_uploader_asset(di, 'imageFile') }}" width="100">
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td aria-label="前回受注日" class="table_td-lastOrderReceivedDate">
                                        <div class="table_tdInner">
                                            {{ d.lastOrderReceivedDate|date('Y-m-d') }}
                                        </div>
                                    </td>
                                    <td aria-label="初回仕上がり日" class="table_td-firstCompletingDate">
                                        <div class="table_tdInner">
                                            {{ d.firstCompletingDate|date('Y-m-d') }}
                                        </div>
                                    </td>
                                    <td aria-label="前回仕上がり日" class="table_td-lastCompletingDate">
                                        <div class="table_tdInner">
                                            {{ d.lastCompletingDate|date('Y-m-d') }}
                                        </div>
                                    </td>
                                    <td aria-label="前回加工方法" class="table_td-lastCompletingDate">
                                        <div class="table_tdInner">
                                            {{ designWorkEstimationRelationMap[d.id].workEstimation.name }}
                                        </div>
                                    </td>
                                    <td aria-label="前回加工位置" class="table_td-lastCompletingDate">
                                        <div class="table_tdInner">
                                            {% if designWorkEstimationRelationMap[d.id] %}
                                            {{ designWorkEstimationRelationMap[d.id].workEstimation.workPosName }}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td aria-label="プリントサイズ" class="table_td-lastCompletingDate">
                                        <div class="table_tdInner">
                                            {% if designWorkEstimationRelationMap[d.id] and designWorkEstimationRelationMap[d.id].workWidth and designWorkEstimationRelationMap[d.id].workHeight %}
                                            {{ designWorkEstimationRelationMap[d.id].workWidth }} x {{ designWorkEstimationRelationMap[d.id].workHeight }}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td aria-label="前回見積番号" class="table_td-lastCompletingDate">
                                        <div class="table_tdInner">
                                            {% if designWorkEstimationRelationMap[d.id] %}
                                                {% set estimation = designWorkEstimationRelationMap[d.id].workEstimation.estimation %}
                                                {% if app.user.isGrantedRead(2010) %}
                                                    <a href="{{ path('app_estmt_all_edit', {'id': estimation.id, 'hash': estimation.hash}) }}" tabindex="-1">{{ estimation.estimationNumber }}</a>
                                                {% else %}
                                                    {{ estimation.estimationNumber }}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
            {{ form_widget(form._token) }}
        </form>
        <div class="mst01_btnArea">
            <div class="btnArea_bottomBtnAreaLeft">
                {% if isAllOrg %}
                    <a tabindex="-1" href="{{ path('app_mst_cstmr_all_list') }}">
                        <div class="btnArea_cancelBtn">キャンセル</div>
                    </a>
                {% else %}
                    <a tabindex="-1" href="{{ path('app_mst_cstmr_self_list') }}">
                        <div class="btnArea_cancelBtn">キャンセル</div>
                    </a>
                {% endif %}
            </div>
            <div class="btnArea_bottomBtnAreaRight">
                {% if app.user.isGrantedWrite(2023) %}
                    {% if cm.id %}
                        <button class="btnArea_registerBtn" @click="submitEdit()">保存</button>
                    {% else %}
                        <button class="btnArea_registerBtn" @click="submitCreate()">保存</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
    <div class="mst01_displayArea">
        <div class="displayArea_createdTime">
            <label>作成日時</label>
            <time class="displayArea_time">{{ cm.createdAt|date('Y-m-d H:i:s') }} ({{ cm.createdBy }}:{{ getUserNameByUserId(cm.createdBy) }})</time>
        </div>
        <div class="displayArea_updatedTime">
            <label>更新日時</label>
            <time class="displayArea_time">{{ cm.updatedAt|date('Y-m-d H:i:s') }} ({{ cm.updatedBy }}:{{ getUserNameByUserId(cm.updatedBy) }})</time>
        </div>
    </div>
{% endblock mainContents %}

{% block leftNav %}
    {{ include('Mst/_leftNav.html.twig', with_context = false) }}
{% endblock leftNav %}

{% block foot_script %}
    {{ parent() }}
    <script src="{{ asset('build/js/Mst/cstmrMstEdit.js') }}"></script>
    <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" defer></script>
{% endblock foot_script %}